<template>
  <div class="container">
      <v-select
        :label="placeholder"
        autocomplete
        cache-items
        :loading="loading"
        :item-text="nameField"
        :item-value="codeField"
        no-data-text = "Нет данных"
        :required="required"
        :items="items"
        :search-input.sync="search"
        v-model="selected"
        :hint="`${selected ? selected[nameField]: ''}`"
        return-object
        @input="onInput($event)"
      >
                    <!--  <template slot="selection" slot-scope="data">
                      {{ data.item.Name}} - {{data.item.Description}}
                    </template>
                    <template slot="item" slot-scope="data">
                        <v-list-tile-content>
                          <v-list-tile-title v-html="`${data.item.Name}, ${data.item.Description}`">
                          </v-list-tile-title>
                        </v-list-tile-content>
                      </template>-->
    </v-select>
    <i class="icon material-icons nullify" @click="doNullify()" v-if="isNullable">clear</i>  
  </div>
</template>

<script>
export default {
    name: 'ait-autocomplete',
  
    props: {
      'placeholder': {
        type: String,
        default: 'Введите строку для поиска...'
      },
      'required': {
        type: Boolean,
        default: false
      },
      'nullable': {
        type: Boolean,
        default: false
      },
      'autocomplete' : {
        type: Function
      },
      'nameField': {
        type: String,
        default: 'name'
      },
      'codeField': {
        type: String,
        default: 'code'
      },
      'value' : {
        type: Object
      }
    },

    data () {
      return {
        loading: false,
        items: [],
        search: null,
        selected: null,
        isNullable: this.nullable
      }
    },

    mounted () {
      if (this.value)
        this.items.push(this.value);
      this.selected = this.value;
    },

    watch: {
      search (val) {
        if(val) 
          this.queryData(val);
      },
      value: function (newValue) {
        if (newValue)
          this.items.push(newValue);
        this.selected = newValue
      }    
    },

    methods:  {
        onInput(event) {
          var result = this.items.filter((e) => {
            return e == event;
          });
          if (result && result.length > 0)
            this.$emit('input', result[0]);
        },
      
      queryData (val) {
        if (this.autocomplete) {
          this.loading = true;
          this.autocomplete(val, this.resultCallback);
        }
      },

      resultCallback (result) {
        this.loading = false;
        this.items = result;
        console.log(this.items);
      },

      doNullify () {
        this.selected = null;
        this.$emit('input', null);
      }
    }
}
</script>

<style scoped>
  .container {
    display: flex;
    padding: 0;
   
  }
  .container input {
    flex: 1;
  }
  .container i.nullify {
    flex: 0 0;
    margin-top: -8px;
    margin-left: -2px;
    cursor: pointer;
  }
</style>
